<nav class="flex justify-center gap-x-10 py-10 ">

    <div class="font-extrabold text-2xl">Logo</div>
    <div class="flex gap-x-10">

        <% if(user) { %>

            <a href="/user/profile">Home</a>
            <a href="/post/create">Create Post</a>
        
      <% }else{ %>
        <a href="/">Home</a>
     <% }  %>

    <a href="/contact">Contact</a>
    <a href="/about">About</a>

    <% if(user){ %>

        <a href="/user/chat">Chat</a>
        <% } %>


    </div>

  
    <div>

        <% if(user) { %>
            <a href="/user/setting"><img class="object-cover rounded-full w-[30px] h-[30px]"
                    src="<%= user.avatar.thumbnailUrl%>" alt="">

            </a>

            <% }else { %>
                <a class="bg-green-300 px-5 py-2 rounded" href="/login">Login</a>


                <% } %>

    </div>
</nav>